* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 4rem;
}

img {
    max-width: 100%;
}

/* general */
.container-max {
    max-width: 900px;
    margin: auto;
}

.container-min {
    max-width: 800px;
    margin: auto;
}

.font-size {
    font-size: 0.8rem;
}

/* header */

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
    background-color: white
}

.nav-container {
    display: flex;
	justify-content: space-between;
    align-items: center;
	height: 4rem;
}

.nav-container a {
    text-decoration: none;
    color: black;
    padding: 1.3rem 0;

}

.nav-container .link-logo {
    padding: 1.4rem 0;
}

.logo-dropbox {
    vertical-align: middle;
}


.lista1 li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1rem;
}

.lista2 li {
    display: inline-block;
    margin: 0 1rem;
}

.container-inizia {
    background-color: rgba(0,97,255,255);
    padding: 0.4rem 0rem;
}

.container-inizia .bnt-inizia {
    color: white;
    padding: 1.3rem 1rem;
}

.nav-container a:hover{
    border-bottom: 2px solid black;
}

/* main */ 
/* container1 */
.container1 {
    background-color: rgba(180,208,231,255);
    
}

.title {
    font-size: 3.7rem;
    padding-top: 3rem;
    padding-bottom: 1.7rem;
}

.container-jumbo {
    float: right;
    width: 40rem;
    /* margin-right: 3rem; */
}

.sub-title {
    flex-direction: column;
    gap: 1rem;
}

.sub-title p {
    margin-bottom: 2rem;
}


.bnt-prova-gratuita {
    background-color: rgba(0,97,255,255);
    color: white;
    text-decoration: none;
    padding: 0.7rem 1rem;
}

.link-prova-gratuita {
    margin-bottom: 2rem;
}

.bnt-arrow {
     color: black;
    font-size: 2.5rem;
}

.fa-arrow-down{
    padding-bottom: .9rem;
}

/* container2 struttura colonne*/
.container2 {
    margin-top: 7rem;
}

.title2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

form {
    margin-bottom: 2.5rem;
}

.inp-1, .inp-2 {
    display: inline-block;
    margin-right: 2rem;
    
}

.inp-mensile, .inp-annuale {
    vertical-align: middle;
    margin-right: 0.2rem;
    border: 0.5rem solid blue;
}

.colonne {
    display: flex;
    gap: 2.5rem;
}

.colonna1 {
    width: calc(100 / 3);
    flex: 1 1 255px;
    border: 1px solid gray;
}


.colonna2 {
    width: calc(100 / 3);
    flex: 1 1 255px;
    border: 1px solid gray;
}

.colonna3 {
    width: calc(100 / 3);
    flex: 1 1 255px;
    border: 1px solid gray;
}

.nome-colonna {
    text-align: center;
    border-bottom: 1px solid gray;
}

/* scritte style colonne */
.colonna1 li  {
    list-style: none;
}

.colonna2 li  {
    list-style: none;
}

.colonna3 li  {
    list-style: none;
}

.mese {
    color: gray;
}

.trattino {
    width: 2.7rem;
    height: 0.5rem;
    border-bottom: 1px solid gray;
}